.bodyS{
    background-image: url('../imagens/imagemfundo.jpg');
    background-repeat: no-repeat; /*sem repetição de imagem*/
    background-size: cover; /*cobrir*/
  
}

.cabecalho{ /*quem somos*/
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(0, 0, 0);
    text-align:left;
    color:aliceblue;
    width: 17%;/*tamanho do cabeçalho*/
    border-radius: 10px;
    margin: 0px 0px 0px 40px;
}

.colEsq{
    float:left;/*esquerda*/
    width: 40%; 
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0px 0px 0px 40px;
}

.card{
    background-color: rgb(0, 0, 0);
    padding: 17px;/*preenchimento*/
    text-align:center; 
    width: 500px;
    border-radius: 50px;
    margin-left: 20px;
}


.colEsq img{

    width: 400px;
    height: 250px;/*altura*/
    border: 15px solid  rgb(224, 224, 231);
    margin-top: 30px;/*margin superior*/
    margin-left: 0px;/*margin esquerda*/
    text-align: center;/*alinhamento do texto*/
}

.colDir{
    float:left;
    width: 40%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color:aliceblue;
    margin-left: 100px;
    border-radius: 30px;
    margin-block: 9px;/*distancia entre os cards*/
}

.imagens{
    background-color: rgb(0, 0, 0);
    padding: 17px;
    margin-top: 3px;
    text-align:center;
    width: 300px;
    border-radius: 50px;
    margin-left: 20px;
}

