
.text
{
    color: darkgoldenrod;
    background-color: rgba(0, 0, 0, 0.455);
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  
}
.parceria
{
    background-color: rgba(27, 27, 27, 0.685);
    font-size: 15px;
    text-align: left;
    color: darkgoldenrod;
    width: 600px;
 
   
}

.parceria h1 {padding: 0px;}
    
    

.bulinha
{
    text-decoration: none;
    color: black;
    
}

.bulinha b
{
    font-size: 30pt;
    padding-top: 2px;
}
    
