*{
    box-sizing: border-box;
}

body
{

    padding: 0;
    margin: 0;
    background-image: url("../imagens/fundo.jpg");
    background-size: cover;

}

header
{
    background-color: black;
    height: 50px;
    position: sticky;
    top: 0;
}

header .logo
{

    width: 45px;
    float: left;

}

header h2
{
    color: rgb(223, 190, 2);
    padding-left: 5px;
}

.topnav
{
    background-color: black;
    height: 45px;
}

.topnav a
{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: darkgoldenrod;
}

.div_logo
{
    width: 300px;
    float: left;

}

.imgGrid
{
    background-color: rgba(0, 0, 0, 0.521);
    margin: 10px;
    text-align: center;
}

.imgindex
{
    display: inline-block;
    width: 350px;
}

.imgindex img
{
    width: 100%;
}