* {
    margin: 0;
    padding: 0;
    font-family:arial;
}

body {
    background-image: url(https://img.freepik.com/fotos-gratis/3d-interior-de-quarto-grunge-com-holofotes-e-fundo-de-atmosfera-esfumacada_1048-11333.jpg?w=900&t=st=1684885316~exp=1684885916~hmac=1454fc90a76c3fb1ea2832f3e493288fb229bc6aa43ad4d75032f4b22b9d6ff6);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top:50%;
    left:50%;

}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 230px;
}

.card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 5px 5px 5px 5px #00000060
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color:rgb(0, 0, 0);

}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;

}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
    
}

.label-float label {
    color: rgb(0, 0, 0);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
    font-size: 13px;
    margin-top: 0;
    color: #000000
}

button {
    background-color: transparent;
    border-color: #000000;
    color: #2600ff;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: #000000;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p {
    color: #000000;
    font-size: 14pt;
    text-align: center;
}

a {
    color: #000dff;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover {
    color: #272262;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}