.margin-24-bottom
{

    margin-bottom: 24px;

}

.margin-16-bottom
{

    margin-bottom: 16px;

}

.margin-8-bottom
{

    margin-bottom: 8px;

}

.margin-24-top
{

    margin-top: 24px;

}

.margin-16-top
{

    margin-top: 16px;

}

.margin-8-top
{

    margin-top: 8px;

}
