*{
    margin: 0;
    padding: 0;/*espessura do cabeçalho*/
   
}
.cabecalho
{
    color: darkgoldenrod;
    background-color: rgba(0, 0, 0, 0.455);
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  
}
body{
    background-image: url('../../images/imagemfundo.jpg');
    background-size: cover; /* imagem cobrir tudo*/
}


.colEsq{
    float:left;/*ir mais pra baixo*/
    width: 40%;/*tamanho da div*/
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;/*distancias a imagem da div preta*/
    border-radius: 50px;
    margin: 0px 0px 0px 20px;/*magin da coluna esquerda*/
}

.colEsq img{ /* da colona esuqerda eu quero mexer na imagem*/
    width: 500px;
    background-color: rgb(252, 252, 252);/*cor da borda da imagem*/
    padding: 12px;/*largura da borda da imagem*/
    margin-top: 40px;/*lagura do topo da imagem até a imagem*/
}

.container{
    display: flex; /*fez o quadradinhos ficar do lado*/
    flex-wrap: wrap;/*fez ficar quadrado*/
    gap: 5vw; /*deu espaçamento entre as imagens*/
    margin-top: 0px;/*magin do topo*/ 
    margin-left: 50vw;/*distancias a coluna esquerda do container*/

}
.items{
    width: 240px;/*tamanho das imagens*/
    height: 240px;/*como se fosse a altura da imagem*/
    border: 10px solid black;
    box-shadow: 5px 5px 5px rgb(60, 56, 56);/*deixa um escurinho na borda*/
    flex-grow: 1;/*cresce a imagem*/
    transition: transform 1s linear;/*faz aumentar a imagem devagarzinho*/
}

.items img{
    width: 100%; /*a imagem tem q ficar 100% dentro do quadradinho em questão dos lados*/
    height: 100%;/*a imagem fica 100% dentro do quadradinho emm questão de altura*/
}

.items:hover{
    transform: scale(1.1);/*faz a imagem se mexer*/ 
}

.colDir{
    float:left;/*deixar o maps na direita*/
    margin-left: 143px; /*arratei para a direita*/
    margin-block: 10px; /*baixei o maps*/
}

.mapBox iframe{
    width: 700px ;/*definido largura*/
    height: 130px;/*defindo altura*/
}