* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

form {
    background-color: rgb(221, 228, 228);
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form h3 {
    text-align: center;
    color: darkgoldenrod;
    font-family: arial;
}

form input[type=text],
form input[type=passaword] {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=submit] {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: rgb(108, 105, 105);
    color: white;
    border: 0;
}

pB{
    margin-left: 320px;
}

a{
    margin-left: 350px;
   
}