*{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url("../../images/fundo.jpg");
    background-size: cover;
}

/* divgrande */
.Bloco
{
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    margin: 25pt;
    width: 1200px;
    height: 700px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 5%;
    font-family: Arial;
    box-shadow: 0 4px 50px 20px #000;
}
/* imagem da div */
.icon
{
    padding: 0px 45px 45px 45px;
    width: 40%;
    height: 50px;
    margin: 0px 5px 0px 0px;
    display: block;
    float: left;

}
 
   
/* .icon-hr
{
    margin: 0;
    padding: 0;
    width: 27px;
    border: 3px solid darkgoldenrod;
} */

/* paragrafo do aviso */
p
{
    color: darkgoldenrod;
    font-size: 16px;

}

p.aviso 
{
    color: darkgoldenrod;
    font-size: 20px;

}

.escrever
{

    display: inline-block;
    padding: 0;
    margin: 5px;
    height: 20px;
    
}

input, select
{
    background-color: rgba(103, 99, 99, 0.852);
    border-radius: 8px;
    height: 25px;
    border: none;
    text-indent: 16px;
    width: 100%;
}

input:focus
{
    background:#3e3c3c5c;
    outline-width: 0;
}


label
{
    color: darkgoldenrod;
    font-size: 20px;
    display: block;
}

.bloquinho
{
    width: 100%;
    float: left;
    margin: 5px;

}


.caveira
{
    float: right;
    width: 600px;
    height: 690px;
    border-radius: 10px;
    margin: 5px;
    border: darkgoldenrod 2px solid;
}
    
.justify-center
{
    text-align: center;
    margin: 5px;
}