*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-image: url('../../images/imagemfundo.jpg');
    background-repeat: no-repeat;/* n repetir a imagem*/
    background-size: cover; /* imagem cobrir tudo*/
    display: flex; /*exibição flexivil*/
    flex-direction: column;
}

.header{ /*cabeçalho*/
    background: rgb(3, 3, 3);
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center; /*deixar no centro*/


}

.gallery-container{
    display: flex; 
    flex-wrap: wrap;/*deixou quadradinho certinho*/
    gap: 6vw;/*brecha*/
    padding: 0 4vw;
    margin-top: 50px;

}

.gallery-container p{
    float:left; 
    width:100%;
    background-color: rgb(41, 41, 50);
    text-align: center;
    color:aliceblue;
    padding-top: 0px;
    border-radius:10px;
    margin: 3px 0px 0px 0px;
    margin-block: 2px;
    font-size: 90%;
}

.gallery-items{
    width: 240px; /*tamanho dos quadrados*/
    height: 340px; 
    border: 10px solid black;
    box-shadow: 5px 5px 5px rgb(60, 56, 56);/*borda atrás da borda*/
    flex-grow: 1;/*ele fez com que as imagens crescesse*/ 
    transition: transform 1s linear;/*ir subindo*/
}

.gallery-items img{
    width: 100%;/*cobrir o quadradinho todo*/
    height: 100%;
}

.gallery-items:hover{
    transform: scale(1.1); /*imagem mexer*/
}
footer{/*rodapé*/
    height: 100px;
}

